<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ODU_Garadge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25202D3C1DF7913900E78794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25202D501DF7914200E78794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25202D5B1DF7914200E78794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
